<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- 
    The SCUEpisysPreProc preprocesses files using the parameters below. 
    The process will evaluates the rules in the following order.
      1. NoProcess
      2. Statements
      3. Notice
      4. Big File
      5. Default
    -->
    <!-- Preprocessor Global parameters -->
    <add key="SourceEMailAddress" value="onbaseissues@suncoastcreditunion.com"/> <!-- Email address that will be used as source address for all generated notifications -->
    <add key="ErrorEMailAddress" value="rod.quint@strategicdoc.com"/> <!-- Set to email address to be notified when general error occurs -->
    <add key="GenerateEmail" value="TRUE"/> <!-- TRUE = Attempt to generate email notifications, FALSE = No emails generated. -->
    <add key="EmailStartTime" value="07:00"/> <!-- Start time in 24 hour format hh:mm or 00:00 - 23:59 for any time -->
    <add key="EmailEndTime" value="17:00"/> <!-- End time in 24 hour format hh:mm or  or 00:00 - 23:59 for any time -->
    <add key="EmailDays" value="Mon;Tue;Wed;Thu;Fri;"/> <!-- 3 character days following by ; or include all days for all -->
    <add key="SourceFileDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\Source\"/> <!-- The directory that will be scanned for files to process -->
    <add key="LogFilePath" value="\\imagesrv\nautilus\Episys\Preprocessor\"/> <!-- Directory where log files will be created ... new file created each time run -->
    <add key="LogFileCount" value="3"/> <!-- Number of log files to keep around ... -->
    <add key="LoggingOn" value="TRUE"/> <!-- TRUE = Preprocessing logging turned on, FALSE = Preprocessing logging turned off -->
    <add key="OutputConsole" value="TRUE"/> <!-- TRUE = Output logging message to Command Console, FALSE = No Command Console display -->
    <add key="LogAppSettings" value="TRUE"/> <!-- TRUE = Put AppSettings in Log file when started, FALSE = Don't put AppSettings in log file -->
    <add key="ZipBackupFiles" value="TRUE"/> <!-- TRUE = ZIP Compress Backup files, FALSE = Leave files uncompressed in Backup directory -->
    <add key="OverwriteMoveFiles" value="FALSE"/> <!-- TRUE = Overwrite file in move directory if already exists, FALSE = Create new file. -->
    <!-- No Process File parameters -->
    <add key="NoProcessFilename1" value=""/>    <!-- Filename1 that will be no processed if found in SourceFileDirectory. Filename only ... no mask -->
    <add key="NoProcessFilename2" value=""/>    <!-- Filename2 that will be no processed if found in SourceFileDirectory. Filename only ... no mask -->
    <add key="NoProcessFilename3" value=""/>    <!-- Filename3 that will be no processed if found in SourceFileDirectory. Filename only ... no mask -->
    <add key="NoProcessFilename4" value=""/>    <!-- Filename4 that will be no processed if found in SourceFileDirectory. Filename only ... no mask -->
    <add key="NoProcessFilename5" value=""/>    <!-- Filename5 that will be no processed if found in SourceFileDirectory. Filename only ... no mask -->
    <add key="NoProcessFileSize" value="999999999"/>    <!-- Files larger than this in KB will be No Processed (1999999999 = Files 2GB and larger -->
    <add key="NoProcessNotificationEmailAddress" value="rod.quint@strategicdoc.com"/>    <!-- Set to email address to be notified if any No Process file is encountered -->
    <add key="NoProcessMoveDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\NoProcess\"/>    <!-- Directory where No Process files are moved to -->
    <!-- Statement File Move parameters -->
    <add key="StatementMoveDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\Statement\Process\"/>    <!-- Directory where Notice files are moved to -->
    <add key="StatementBackupDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\Statement\Backup\"/>    <!-- Directory where Notice files are copied to for backup -->
    <!-- StatementSearchString contains the Statement strings that will be searched in file line 1. Each search string must end in a ";" character ... even last in the list. -->
    <add key="StatementSearchString" value="Statement Batch 0 Final Multi Page;Statement Batch 0 Final No Mail;Statement Batch 0 Final Single Page;"/>
    <add key="StatementBackupDeleteRetentionDays" value="30"/>    <!-- Number of days files will remain in back up directory before preprocess will delete, 0=No backup, -1=No delete. -->
    <add key="StatementSemaphoreFilename" value="\\imagesrv\nautilus\Episys\Preprocessor\Statement\Process\semaphore.file"/>    <!-- Notice Filename including directory of OnBase Process Semaphore file, "" indicates no Semaphore file. -->
    <!-- Notice File Move parameters -->
    <add key="NoticeMoveDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\Notices\Process\"/>    <!-- Directory where Notice files are moved to -->
    <add key="NoticeBackupDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\Notices\Backup\"/>    <!-- Directory where Notice files are copied to for backup -->
    <!-- NoticeSearchString contains the Notice strings that will be searched in file line 1. Each search string must end in a ";" character ... even last in the list. -->
    <add key="NoticeSearchString" value="Paid Off Loan Secured – IMG;Cert Sec Rate Change Notice – Img;Certification Mat Notices – Img;LOC Adv Notice – Img;New Direct Loan img;New Indirect Loan img;NSF Notices – Img;Courtesy Pay Notices – Img;Overdraft Notices – Img;SH Sec Rate Change Notice – Img;VRL Change Notices – Img;"/>
    <add key="NoticeBackupDeleteRetentionDays" value="30"/>    <!-- Number of days files will remain in back up directory before preprocess will delete, 0=No backup, -1=No delete. -->
    <add key="NoticeSemaphoreFilename" value="\\imagesrv\nautilus\Episys\Preprocessor\Notices\Process\semaphore.file"/>    <!-- Notice Filename including directory of OnBase Process Semaphore file, "" indicates no Semaphore file. -->
    <!-- ACH Report File Move parameters -->
    <add key="ACHReportsMoveDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\ACHReports\Process\"/>    <!-- Directory where ACH Report files are moved to -->
    <add key="ACHReportsBackupDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\ACHReports\Backup\"/>    <!-- Directory where ACH Report files are copied to for backup -->
    <!-- ACHReportsSearchString contains the ACH Report strings that will be searched in file line 1. Each search string must end in a ";" character ... even last in the list. -->
    <add key="ACHReportsSearchString" value="ACH CREDIT AM Posting Journal;ACH Excp Item Report Batch ID 777777;ACH Excp Item Report Batch ID 888888;ACH Excp Item Report Batch ID 999999;ACH REPOST CREDIT Exceptions;ACH REPOST CREDIT Posting Journal;ACH REPOST DEBIT Exceptions;ACH REPOST NSF 10 Exceptions;ACH REPOST NSF 10 Posting Journal;ACH REPOST NSF Exceptions;ACH REPOST NSF Posting Journal;"/>
    <add key="ACHReportsBackupDeleteRetentionDays" value="30"/>    <!-- Number of days files will remain in back up directory before preprocess will delete, 0=No backup, -1=No delete. -->
    <add key="ACHReportsSemaphoreFilename" value="\\imagesrv\nautilus\Episys\Preprocessor\ACHReports\Process\semaphore.file"/>    <!-- Notice Filename including directory of OnBase Process Semaphore file, "" indicates no Semaphore file. -->
    <add key="ACHEmailNotificationAddress" value="rod.quint@strategicdoc.com"/> <!-- Set to email address to be notified when any ACH Report is preprocessed - Set to blank ("") for no notifications -->
    <!-- Big File processing parameters -->
    <add key="BigFileSize" value="15000"/>    <!-- Files larger than this in KB will be considered Big files -->
    <add key="BigMoveDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\Big\Process\"/>    <!-- Directory where Big files are moved to -->
    <add key="BigBackupDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\Big\Backup\"/>    <!-- Directory where Big files are copied to for backup -->
    <add key="BigBackupDeleteRetentionDays" value="30"/>    <!-- Number of days files will remain in back up directory before preprocess will delete, 0=No backup, -1=No delete. -->
    <add key="BigSemaphoreFilename" value="\\imagesrv\nautilus\Episys\Preprocessor\Big\Process\semaphore.file"/>    <!-- Notice Filename including directory of OnBase Process Semaphore file, "" indicates no Semaphore file. -->
    <!-- Default processing parameters -->
    <add key="DefaultMoveDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\Default\Process\"/>    <!-- Directory where Default files (i.e. smaller than Big file threshold) are moved to -->
    <add key="DefaultBackupDirectory" value="\\imagesrv\nautilus\Episys\Preprocessor\Default\Backup\"/>    <!-- Directory where Big files are copied to for backup -->
    <add key="DefaultBackupDeleteRetentionDays" value="30"/>    <!-- Number of days files will remain in back up directory before preprocess will delete, 0=No backup, -1=No delete. -->
    <add key="DefaultSemaphoreFilename" value="\\imagesrv\nautilus\Episys\Preprocessor\Default\Process\semaphore.file"/>    <!-- Notice Filename including directory of OnBase Process Semaphore file, "" indicates no Semaphore file. -->
  </appSettings>
</configuration>